<div class="row">
    <div class="col-sm-6">
        <center>
            <% if @current_user && @visits > 0%>
                <button type="button" class="btn btn-secondary btn-block" disabled>You have visited <%=@ballpark[:name]%></button>
                <% else %>
                    <% if @current_user %>
                    <a href="/ballparks/<%= @ballpark[:id] %>/rsvps/new" class="btn btn-primary btn-block">Visit <%=@ballpark[:name]%></a>
            <% else %>
                <a href="/" class="btn btn-danger btn-block">Please sign in to record visit</a>
                <% end %>
            <% end %>
        </center>
    </div>
    <div class="col-sm-6">
        <center>
            <% if @ballpark[:team] == @current_user_team[:name]%>
                <a href="/" class="btn btn-block" style="background-color: <%= @ballpark[:color]%>; color: white">Home of your <%= @ballpark[:team] %>!</a>
                <% else %>
                <a href="/" class="btn btn-block" style="background-color: <%= @ballpark[:color]%>; color: white">Home of the <%= @ballpark[:team] %>!</a>
            <% end %>
        </center>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h2>
            <center>
                <img src=<%= @ballpark[:path]%> width="480" height="270">
        <h2>
            <%= @ballpark[:name] %>, <%= @ballpark[:city] %>, <%= @ballpark[:state] %>
        </h2>
            </center>
        </h2>
            <center>
                <iframe
                    width="480"
                    height="270"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                    &q=<%= @lat %>,<%= @long %>&zoom=8" allowfullscreen>
                </iframe>
    </div>
    <div class="col-md-6"> 
        <h2>
            <center>
                <img src=<%= @ballpark[:logo]%> width="270" height="270">
            </center>    
        </h2>
            <center>
        <h2>
        Visitors (<%= @going_count %>)
        </h2>
            </center>
        <% for rsvp in @rsvps %>
                    <h5 class="mt-0">
                    <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:username] %>
                    <small>
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    <h6><%= rsvp[:comments] %></h6>
                    <%end%>
                    </h5>   
    </div>  
    </div>