<div class="media-body">
                    <h5 class="mt-0">
                    <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:username] %>
                        <small>
                        <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                        (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                        <% else %>
                        (|)
                        <% end %>
                        </small>
                    </h5>
            </div>  
            

             <% for rsvp in @rsvps %>
            <div class="media">
                <% if rsvp[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if for my rsvp -->
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= @rsvp[:comments] %>
                </div>
            </div>
        <% end %>
                    
    </div>

    <% if @rsvp[:going] %>
                <a href="" class="btn btn-primary">You have visited <%=@ballpark[:name]%></a>
            <% else %>
                <a href="/ballparks/<%= @ballpark[:id] %>/rsvps/new" class="btn btn-primary">Visit <%=@ballpark[:name]%></a>
            <% end %>